body,html{height:100%;-webkit-tap-highlight-color:transparent}
.page,body{background-color:#fbf9fe}
.container{overflow:hidden}
.container,.page{position:absolute;top:0;right:0;bottom:0;left:0}
.page{overflow-y:auto;-webkit-overflow-scrolling:touch;opacity:0}
.hd{padding:1em 0}
.page_desc{text-align:center;color:#888;font-size:14px}
.bd.spacing{padding:0 15px}
.page_title{text-align:center;color:#3cc51f;font-weight:400;margin:0 15%}
.global_navs{background-color:transparent}
.global_navs:after,.global_navs:before{border-color:#d9dbda}
.global_navs .icon_nav{width:28px;height:28px;display:block;margin-right:.7em}
.page.button .page_title{color:#225fba}
.page.button .bd{padding:0 15px}
.page.button .button_sp_area{padding:10px 0;width:60%;margin:0 auto;text-align:justify;text-justify:distribute-all-lines;font-size:0}
.page.button .button_sp_area:after{display:inline-block;width:100%;height:0;font-size:0;margin:0;padding:0;overflow:hidden;content:"."}
.page.cell .page_title{color:#225fba}
.page.cell .bd{padding-bottom:30px}
.page.toast{background-color:#fff}
.page.toast .bd{padding:120px 15px 0}
.page.dialog{background-color:#fff}
.page.dialog .bd{padding:120px 15px 0}
.page.msg{background-color:#fff}
.page.panel .bd{padding-bottom:20px}
.page.article{background-color:#fff}
.page.article .page_title{color:#de7c23}
.page.icons{background-color:#fff;text-align:center}
.page.icons .page_title{color:#3e24bd}
.page.icons .bd{padding:30px 0;text-align:center}
.page.icons .icon_sp_area{padding:10px 20px;text-align:left}
.page.icons i{margin:0 5px 10px}
.search_show{display:none;margin-top:0;font-size:14px}
.search_show .weui_cell_bd{padding:2px 0 2px 20px;color:#666}
@-webkit-keyframes a{0%{-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0);opacity:0}
    to{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}
}
@keyframes a{0%{-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0);opacity:0}
    to{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}
}
@-webkit-keyframes b{0%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}
    to{-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0);opacity:0}
}
@keyframes b{0%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}
    to{-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0);opacity:0}
}
.page.slideIn{-webkit-animation:a .2s forwards;animation:a .2s forwards}
.page.slideOut{-webkit-animation:b .2s forwards;animation:b .2s forwards}

.tags{
    line-height: 150%;
    padding: 0.3rem 0.3rem 0;
    text-align: left;
}

.tag{
    border:1px solid #999999;
    border-radius: 0.15rem;
    color: #999999;
    font-size: 0.9rem;
    line-height: 0.9rem;
    padding: 0.1rem 0.12rem;
}

.tag1{
    display: block;
    font-size: 0.9rem;
    margin: 0 0 0.3rem;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.tag1:hover {
    background: rgba(0, 0, 0, 0.05) none repeat scroll 0 0;
    border-radius: 2px;
    z-index: 1;
}

.perc{
    background: rgba(0, 0, 0, 0.05) none repeat scroll 0 0;
    border-radius: 4px;
    display: block;
    height: 100%;
    left: 0;
    height: 1.6rem;
    min-width: 12%;
    overflow: hidden;
    position: absolute;
    text-indent: -9999px;
    top: 0;
    transition: background 0.2s ease 0s;
}

.tag1 span{
    color: #999999;
    display: block;
    font-weight: normal;
    padding: 0.2rem 0.5rem;
    text-decoration: none;
    z-index: 2;
}

.tag1 em{
    color: #bbb;
    float: right;
    font-style: normal;
    padding: 0.2rem 0.5rem 0 0;
    z-index: 3;
}

.tag:active, .tag.active{
    border-color: #04be02;;
    color:#fff;
    background-color: #04be02;
}


/*标签树*/
.tags-list{
    list-style: none;
    margin: 0 0 -0.3rem;
    padding: 0;
}

.tag-content{
    display: inline-block;
    padding: 0;
    margin: 0.1rem 0.2rem 0.4rem;
}

.tag-title{
    display: inline-block;
}

.tag-badge{
    font-size: 0.7rem;
    background-color: #777;
    border-radius: 10px;
    color: #fff;
    line-height: 0.8rem;
    display: inline-block;
    min-width: 0.9rem;
    margin-left: -0.2rem;
    text-align: center;
}
.weui_media_time{
    font-size: 12px;
    color: #999999;
    position: absolute;
    top: 25px;
    right: 15px;
}

.item{
    position: absolute !important;
    width:48%;
}
.card {
    background: #fff none repeat scroll 0 0;
    border-radius: 0.1rem;
    margin: 0.2rem;
    font-size: 0.8rem;
    position: relative;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}
.card-header::after {
    background-color: #e1e1e1;
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    right: auto;
    top: auto;
    transform-origin: 50% 100% 0;
    width: 100%;
    z-index: 15;
}
.card-header.no-padding {
    padding: 0;
}
.card-header[valign="bottom"], .card-footer[valign="bottom"] {
    align-items: flex-end;
}
.card-header {
    border-radius: 0.1rem 0.1rem 0 0;
}
.card-header, .card-footer {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    min-height: 2.2rem;
    padding: 0.5rem 0.75rem;
    position: relative;
}

.card-content {
    position: relative;
}

.card-content-inner {
    padding: 0.75rem 0.75rem 0.5rem;
    position: relative;
}

.card-content-inner > p:first-child {
    margin-top: 0;
}
.color-gray {
    color: #999;
}

.card-header .card-cover {
    display: block;
    width: 100%;
}

.brand-list {
    position: relative;
}

.img-responsive{
    width:100%;
}

.swiper-container{
    margin-top:0.3rem !important;
}
.button_sp_area{width:60%;margin:0 auto;text-align:justify;text-justify:distribute-all-lines;font-size:0}
.button_sp_area:after{display:inline-block;width:100%;height:0;font-size:0;margin:0;padding:0;overflow:hidden;content:"."}
